body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #FBCBDC;
}

.header_text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}